<template>
  <auth-layout title="Вход">
    <form>Auth Page</form>
  </auth-layout>
</template>

<script>
import AuthLayout from "@/components/AuthLayout.vue";

export default {
  name: "LoginPage",
  components: { AuthLayout },
};
</script>
