<template>
  <ui-container>
    <div class="filters-panel">
      <div class="filters-panel__col"></div>

      <div class="filters-panel__col"></div>
    </div>
    <template v-if="meetups"> <meetups-list :meetups="meetups" /></template>
    <ui-alert v-else>Загрузка...</ui-alert>

      <div class="main-page__questions">
        <h1 class="main-page__questions-title">Остались вопросы? Отвечаем</h1>
        <UserQuestion />
      </div>
  </ui-container>
</template>

<script>
import MeetupsList from "@/components/MeetupsList.vue";
import UiAlert from "@/components/UiAlert.vue";
import UiContainer from "@/views/UiContainer.vue";
import { getMeetups } from "../api/meetupsApi";

export default {
  name: "PageMeetups",
  components: { MeetupsList, UiAlert, UiContainer, UserQuestion },
  data() {
    return {
      meetups: null,
    };
  },
  mounted() {
    getMeetups().then((meetups) => {
      this.meetups = meetups;
    });
  },
};
</script>

<style scoped>
.filters-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0 32px 0;
}

.filters-panel__col {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media all and (max-width: 767px) {
  .filters-panel {
    flex-direction: column;
  }

  .filters-panel__col+.filters-panel__col {
    margin-top: 16px;
  }

  .main-page {
    width: 100%;

    &__questions {

      &-title {
        margin-bottom: 26px;
        font-size: 32px;
        font-weight: 500;
        line-height: 130%;
      }

      @media (max-width: 1000px) {

        &-title {
          font-size: 24px;
        }
      }
    }
  }
}
</style>
