<template>
  <div class="page-meetup">
    <MeetupCover v-if="meetup" :link="coverLink" :title="meetup.title" />
    <!-- <h1 style="text-align: center">
      Meetup Page {{ meetupId }} <br />
      <router-link
        :to="{ name: 'meetup', params: { meetupId: +meetupId + 1 } }"
      >
        Перейти к следующему митапу
      </router-link>
    </h1> -->

    <!-- meetup-cover -->
    <ui-container>
      <div class="meetup">
        <div v-if="meetup" class="meetup__content">
          <h3>Описание</h3>
          <MeetupDescription :description="meetup.description" />
          <h3>Программа</h3>
          <MeetupAgenda :agenda="agenda" />
        </div>
        <div class="meetup__aside">
          <!-- ... -->
        </div>
      </div>
    </ui-container>
  </div>
</template>
<script>
import { getMeetup } from "../api/meetupsApi";
import MeetupCover from "../components/MeetupCover.vue";
import UiContainer from "@/views/UiContainer.vue";
import MeetupDescription from "@/components/MeetupDescription.vue";
import MeetupAgenda from "@/components/MeetupAgenda.vue";
export default {
  components: { MeetupCover, UiContainer, MeetupDescription, MeetupAgenda },
  beforeRouteEnter(to) {
    return getMeetup(+to.params.meetupId).then((meetup) => {
      return (vm) => {
        vm.setMeetup(meetup);
      };
    });
  },
  props: {
    meetupId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      meetup: null,
    };
  },
  computed: {
    coverLink() {
      return "";
    },
    agenda() {
      if (this.meetup) return this.meetup.agenda || [];
      return '';
    },
  },
  mounted() {
    console.log("ready", this.meetup);
  },
  methods: {
    setMeetup(meetup) {
      this.meetup = meetup;
    },
  },
};
</script>

<style scoped>
.page-meetup {
  background-color: var(--white);
}

.meetup {
  display: flex;
  flex-direction: column;
  margin: 48px 0 0;
}

.meetup__content {
}

.meetup__aside {
  margin: 40px 0;
}

.meetup__aside-buttons {
  padding: 0 0 0 34px;
  margin-top: 16px;
}

.meetup__aside-button {
  margin: 0 10px 10px 0;
}

@media all and (min-width: 992px) {
  .meetup {
    flex-direction: row;
  }

  .meetup__content {
    flex: 1 0 calc(100% - 350px);
  }

  .meetup__aside {
    flex: 1 0 350px;
    padding: 50px 0 0 44px;
    margin: 0;
  }
}

.meetup-cover {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    var(--default-cover);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 410px;
  max-width: 1216px;
  margin: 0 auto;
}
.meetup-cover__title {
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  padding: 0 16px;
  text-align: center;
}
@media all and (min-width: 992px) {
  .meetup-cover__title {
    font-size: 72px;
    line-height: 84px;
  }
}
.meetup[data-v-e3233849] {
  display: flex;
  flex-direction: column;
  margin: 48px 0 0;
}
.meetup__aside[data-v-e3233849] {
  margin: 40px 0;
}
.meetup__aside-buttons[data-v-e3233849] {
  padding: 0 0 0 34px;
  margin-top: 16px;
}
.meetup__aside-button[data-v-e3233849] {
  margin: 0 10px 10px 0;
}
@media all and (min-width: 992px) {
  .meetup[data-v-e3233849] {
    flex-direction: row;
  }
  .meetup__content[data-v-e3233849] {
    flex: 1 0 calc(100% - 350px);
  }
  .meetup__aside[data-v-e3233849] {
    flex: 1 0 350px;
    padding: 50px 0 0 44px;
    margin: 0;
  }
}
</style>
