<template>
  <ui-container>
    <div class="main-page__questions">
      <h1 class="main-page__questions-title">Остались вопросы? Отвечаем</h1>
      <UserQuestion />
    </div>
  </ui-container>
</template>

<script>
import UserQuestion from "@/components/UserQuestion.vue";
import UiContainer from "@/views/UiContainer.vue";

export default {
  name: "PageAbout",
  components: { UserQuestion, UiContainer },
};
</script>

<style scoped>
.main-page__questions {
    margin-top: 20px;
}
.user-question {
  padding: 18px 0;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}
</style>
