<template>
  <header class="header">
    <h1 class="logo">
      <router-link :to="{ name: 'index' }" class="logo__link"
        ><img
          src="@/assets/logo.svg"
          class="logo__image"
          width="174"
          height="30"
      /></router-link>
    </h1>
    <meetups-nav />
  </header>
</template>

<script>
// import MeetupsLogo from './MeetupsLogo';
import MeetupsNav from "./MeetupsNav.vue";

export default {
  name: "MeetupsHeader",
  components: { MeetupsNav },
};
</script>

<style scoped>
.header {
  padding: 44px 0 32px;
  background-color: var(--white);
}
.logo,
.logo__link {
  display: block;
  font-weight: 900;
  font-size: 34px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 24px;
  text-transform: uppercase;
  color: var(--body-color);
  text-decoration: none;
}
</style>
