<template>
  <ui-card :cover="meetup.image" class="meetup-card">
    <template #header>
      {{ meetup.title }}
    </template>

    <template #default>
      <ul class="meetup-info">
        <li class="meetup-info__item">
          <!-- <ui-icon class="meetup-info__icon" icon="user" /> -->
          {{ meetup.organizer }}
        </li>
        <li class="meetup-info__item">
          <!-- <ui-icon class="meetup-info__icon" icon="map" /> -->
          {{ meetup.place }}
        </li>
        <li class="meetup-info__item">
          <!-- <ui-icon class="meetup-info__icon" icon="cal-lg" />
          <time :datetime="isoDate">{{ localeDate }}</time> -->
        </li>
      </ul>
    </template>
  </ui-card>
</template>

<script>
import UiCard from "./UiCard.vue";
export default {
  name: "MeetupsListItem",
  components: {
    UiCard,
  },

  props: {
    meetup: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
.meetup-card {
  position: relative;
}

.meetup-card__badge {
  position: absolute;
  top: 0;
  right: 0;
}

/* meetup-info */
.meetup-info {
  margin: 0;
  padding: 0;
}

.meetup-info__item {
  list-style-type: none;
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 8px;
}

.meetup-info__item:last-child {
  margin: 0;
}

.meetup-info__icon {
  position: absolute;
  left: 0;
  top: 0;
}
</style>
