<template>
  <slot />
</template>

<script>
import { openBlock, createElementBlock, renderSlot, ref } from "vue";

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Toggle",
  props: {
    initialValue: { type: Boolean, default: !1 },
  },
  setup(t) {
    const e = ref(t.initialValue);
    function l() {
      e.value = !e.value;
    }
    return (o) => (
      openBlock(),
      createElementBlock("div", null, [
        renderSlot(o.$slots, "default", {
          onClick: l,
          isActive: e.value,
        }),
      ])
    );
  },
};
</script>
<!-- import {  openBlock, createElementBlock, renderSlot } from "vue";
const f = /* @__PURE__ */ defineComponent({
  __name: "Toggle",
  props: {
    initialValue: { type: Boolean, default: !1 }
  },
  setup(t) {
    const e = ref(t.initialValue);
    function l() {
      e.value = !e.value;
    }
    return (o, u) => (openBlock(), createElementBlock("div", null, [
      renderSlot(o.$slots, "default", {
        onClick: l,
        isActive: e.value
      })
    ]));
  }
});
export {
  f as default
}; -->
