<template>
  <span class="button__text">
    <slot />
  </span>
</template>

<script>
export default {
  name: "UiText",

  props: {
    color: {
      type: String,
      default: "inherit",
    },
  },

  data() {
    return {
      mcolor: "#ff0000",
    };
  },
};
</script>

<style scoped>
.button__text {
  padding: 1em;
  border: 1px solid orange;
}
</style>
