<script setup lang="ts">
import Toggle from "./Toggle.vue";

// interface Question {
//     question: string;
//     answer: string;
// }

// interface Props {
//   list?: Question[]
//   limit?: number
// }

// const props = defineProps<Props>()
</script>

<template>
  <div class="user-question__wrapper">
    <div class="user-question">
      <Toggle>
        <template #default="{ onClick, isActive }">
          <div
            class="user-question__title"
            :class="[{ 'user-question__title_active': isActive }]"
            @click="onClick"
          >
            <span class="user-question__text">Как оформить заказ?</span>
          </div>
          <p v-if="isActive" class="user-question__desc">
            Для этого укажите свой адрес или выберете местоположение с помощью
            геолокации, тогда вы увидите каталог ближайшего к вам даркстора.
            Перейдите в каталог и наберите товары в корзину. Далее перейдите в
            корзину, проверьте содержимое заказа и нажмите кнопку "Оформить
            заказ". При оформлении доставки заполните все необходимые поля
            адреса.
          </p>
        </template>
      </Toggle>
    </div>
    <div class="user-question">
      <Toggle>
        <template #default="{ onClick, isActive }">
          <div
            class="user-question__title"
            :class="[{ 'user-question__title_active': isActive }]"
            @click="onClick"
          >
            <span class="user-question__text">Что такое даркстор?</span>
          </div>
          <p v-if="isActive" class="user-question__desc">
            Это доставка продуктов питания и товаров первой необходимости. Заказ
            через приложение или сайт. Оплата онлайн. Ожидание курьера.
          </p>
        </template>
      </Toggle>
    </div>
  </div>
</template>

<style scoped>
.user-question {
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  padding: 18px 0;
}

.user-question__text {
  max-width: calc(100% - 40px);
}

.user-question__show-all {
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  font-weight: 400;
  justify-content: center;
  line-height: 140%;
  padding: 20px 0;
  -webkit-user-select: none;
  user-select: none;
}

.user-question__show-all:hover {
  color: #e30613;
}

.user-question__title {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
  min-height: 36px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

.user-question__title:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='transparent'%3E%3Cg stroke='%23C2C2C2' stroke-linecap='round' stroke-linejoin='round' clip-path='url(%23a)'%3E%3Cpath d='M18 11.25v13.5M11.25 18h13.5M18 35c9.389 0 17-7.611 17-17S27.389 1 18 1 1 8.611 1 18s7.611 17 17 17Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h36v36H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: 36px;
  content: "";
  height: 36px;
  position: absolute;
  right: 0;
  transform: rotate(0);
  transition:
    transform 0.3s ease,
    background-image 0.3s ease;
  width: 36px;
}

.user-question__title:hover:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='%23E30613'%3E%3Cpath d='M18 35c9.389 0 17-7.611 17-17S27.389 1 18 1 1 8.611 1 18s7.611 17 17 17Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='M18 11.25v13.5M11.25 18h13.5'/%3E%3C/svg%3E");
}

.user-question__title_active {
  margin-bottom: 15px;
}

.user-question__title_active:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='%23E30613'%3E%3Cpath d='M18 35c9.389 0 17-7.611 17-17S27.389 1 18 1 1 8.611 1 18s7.611 17 17 17Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='M18 11.25v13.5M11.25 18h13.5'/%3E%3C/svg%3E");
  transform: rotate(45deg);
}

.user-question__desc {
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  max-width: 500px;
}

@media (max-width: 800px) {
  .user-question__title {
    font-size: 18px;
  }

  .user-question__show-all {
    font-size: 20px;
  }
}
</style>
