<template>
  <div class="wrapper">
    <meetups-header />
    <main class="main">
      <router-view />
    </main>
    <meetups-footer />
  </div>
</template>

<script setup>
import MeetupsHeader from "@/components/MeetupsHeader.vue";
import MeetupsFooter from "@/components/MeetupsFooter.vue";
</script>

<style>
@import '@/assets/styles/_variables.css';
@import '@/assets/styles/_common.css';
.wrapper {
  background-color: var(--grey-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}
</style>
