<template>
  <div class="main__wrapper">
    <h3>Поиск пользователя</h3>
    <input v-model="searchTerm" class="form-control" />
    <button class="btn btn-info mt-2 loading" @click="findUsers">
      search
      <div v-if="githubStore.isLoading" class="spinner-border"></div>
    </button>
    <div class="row justify-content-center">
      <template v-for="user in githubStore.users" :key="user.id">
        <div class="card col-sm-2 m-2 col-6">
          <img :src="user.avatar_url" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ user.login }}</h5>
            <button @click="$router.push('user/'+user.id)" class="btn btn-primary">show-more</button>
          </div>
        </div>
      </template>
    </div >
  </div>
</template>

<script setup>
import { ref } from "vue";

const url = "https://api.github.com/search/users?q=ubaidisaev";

const searchTerm = ref("");

import { useGithubStore } from "@/stores/github";

const githubStore = useGithubStore();

window.githubStore = githubStore;

const findUsers = function () {
  githubStore.findUsers(searchTerm.value);
};
</script>

<style lang="scss"></style>
