<template>
  <UiText class="button__text" color="red">welcome</UiText>
</template>

<script setup>
import { ref } from "vue";
import UiText from "@/components/UiText.vue";
</script>

<style scoped>
.button__text {
  color: orange;
}
</style>
