<template>
  <UiContainer>
      <h1>Leva page</h1>
      <UiText>count {{ count }}</UiText>
      <button @click="increment">+</button>
     
  </UiContainer>
</template>

<script setup>
import { ref } from "vue";

import UiText from "@/components/UiText.vue";
import UiContainer from "@/views/UiContainer.vue";
const count = ref(0);

const increment = () => {
  count.value += 1;
};
</script>
